h1{
    background-image: url(./img/kyoto-osaka-japan-mount-fuji-cherry-blossoms.jpg)
    color: red;
    font-size: 75px;
    font-weight: 900;
    
    }   
h2{
    color:  blue ;
    font-size: 60px;
}

body{
    background-color : gold;
}